@{
    ViewData["Title"] = "Home Page";
}

<h2>Tokens</h2>

<h3>Get Token</h3>
POST /token

<h3>Set X-Token HTTP Header to token value</h3>
X-Token: &lt;tokenId&gt;

<h2>Posts</h2>

<h3>Get Posts</h3>
GET /posts

<h3>Get specific post</h3>
GET /posts/{id}

<h3>Get post of specific author</h3>
GET /posts?authorId={authorId}

<h3>Get post tags</h3>
GET /posts/{id}/tags

<h3>Create Post</h3>
POST /posts

<h3>Update (PUT) Post</h3>
PUT /posts/{id}

<h3>Update (Patch) Post</h3>
PATCH /posts/{id}

<h2>Users</h2>

<h3>Get users</h3>
GET /users

<h3>Get specific user</h3>
GET /users/{id}

<h3>Create User</h3>
POST /users

<h3>Update (PUT) User</h3>
PUT /users/{id}

<h3>Update (Patch) User</h3>
PATCH /users/{id}
