@{
    ViewData["Title"] = "Home Page";
}

@{ 
    var url = "https://httpverbs.azurewebsites.net";
}

<h2>Tokens</h2>

<p><b>Get Token: </b>
POST @url/tokens</p>

<p><b>Set X-Token HTTP Header to token value</b>
X-Token: &lt;tokenId&gt;</p>

<h2>Posts</h2>

<p><b>Get Posts: </b>
GET @url/posts</p>

<p><b>Get specific post: </b>
GET @url/posts/{id}</p>

<p><b>Get post of specific author: </b>
GET @url/posts?authorId={authorId}</p>

<p><b>Get post tags: </b>
GET @url/posts/{id}/tags</p>

<p><b>Create Post: </b>
POST @url/posts</p>

<p><b>Update (PUT) Post: </b>
PUT @url/posts/{id}</p>

<p><b>Update (PATCH) Post: </b>
PATCH @url/posts/{id}</p>

<p><b>Delete (DELETE) Post: </b>
DELETE @url/posts/{id}</p>

<h2>Users</h2>

<p><b>Get users: </b>
GET @url/users</p>

<p><b>Get specific user: </b>
GET @url/users/{id}</p>

<p><b>Create User: </b>
POST @url/users</p>

<p><b>Update (PUT) User: </b>
PUT @url/users/{id}</p>

<p><b>Update (PATCH) User: </b>
PATCH @url/users/{id}</p>

<p><b>Delete (DELETE) User: </b>
DELETE @url/users/{id}</p>
